<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spotyspy - Forgot</title>

</head>

<body>
    <div class="main">
        <p class="sign" align="center">Forgot</p>
        <form class="form1" align="center" action="forgot" method="POST">
            <input id="input_email " class="un" align="center" name="email" type="text" align="center" placeholder="Email" required>
            <input class="submit" onclick="btn()" type="submit">
            <a href="/" class="submit" ">Return</a>
        </form>
    </div>
    <div id="backround1 " style="width: 100%; "></div>
</body>

<script src='https://jeromeetienne.github.io/threex.terrain/examples/vendor/three.js/build/three-min.js'></script>
<script src='https://jeromeetienne.github.io/threex.terrain/examples/vendor/three.js/examples/js/SimplexNoise.js'></script>
<script src='https://jeromeetienne.github.io/threex.terrain/threex.terrain.js'></script>
<script>
    var email_input =  document.getElementById("input_email ")
    function btn() {
        if(email_input.innerHTML.length >0)alert('check spam folder')
        
    }
    var backround = document.getElementById('backround1 ')

    var renderer = new THREE.WebGLRenderer({
        antialias: true
    });
    /* Fullscreen */
    renderer.setSize(window.innerWidth, window.innerHeight);
    /* Append to HTML */
    backround.appendChild(renderer.domElement);
    var onRenderFcts = [];
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(25, window.innerWidth / window.innerHeight, 0.01, 1000);
    /* Play around with camera positioning */
    camera.position.z = 27;
    camera.position.y = 0;
    /* Fog provides depth to the landscape*/
    scene.fog = new THREE.Fog(0x000, 0, 45);;
    (function() {
        var light = new THREE.AmbientLight(0x202020)
        scene.add(light)
        var light = new THREE.DirectionalLight('white', 5)
        light.position.set(0.5, 0.0, 2)
        scene.add(light)
        var light = new THREE.DirectionalLight('white', 0.75 * 2)
        light.position.set(-0.5, -0.5, -2)
        scene.add(light)
    })()
    var heightMap = THREEx.Terrain.allocateHeightMap(256, 200)
    THREEx.Terrain.simplexHeightMap(heightMap)
    var geometry = THREEx.Terrain.heightMapToPlaneGeometry(heightMap)
    THREEx.Terrain.heightMapToVertexColor(heightMap, geometry)
        /* Wireframe built-in color is white, no need to change that */
    var material = new THREE.MeshBasicMaterial({
        wireframe: true
    });
    var mesh = new THREE.Mesh(geometry, material);
    scene.add(mesh);
    mesh.lookAt(new THREE.Vector3(0, 1, 0));
    /* Play around with the scaling */
    mesh.scale.y = 3.5;
    mesh.scale.x = 3;
    mesh.scale.z = 0.20;
    mesh.scale.multiplyScalar(10);
    /* Play around with the camera */
    onRenderFcts.push(function(delta, now) {
        mesh.rotation.z += 0.2 * delta;
    })
    onRenderFcts.push(function() {
        renderer.render(scene, camera);
    })
    var lastTimeMsec = null
    requestAnimationFrame(function animate(nowMsec) {
        requestAnimationFrame(animate);
        lastTimeMsec = lastTimeMsec || nowMsec - 1000 / 60
        var deltaMsec = Math.min(200, nowMsec - lastTimeMsec)
        lastTimeMsec = nowMsec
        onRenderFcts.forEach(function(onRenderFct) {
            onRenderFct(deltaMsec / 1000, nowMsec / 1000)
        })
    })
    window.addEventListener('resize', onWindowResize, false);

    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);

    }
</script>

</html>